body{
	font: 15px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color: #f4f4f4;
}

ul{
	margin: 0;
	padding: 0;
}

.button_1{
	height: 38px;
	background-color: #34b5b5;
	border:0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff; 
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.dark {
	padding: 15px;
	background-color: #35424a;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


header{
	background: #35424a;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: 3px solid #34b5b5;
}

header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}

header #company-line{
	float: left;
}

header #company-line h1{
	margin: 0;
}

header nav{
	float: right;
	margin-top: 10px;
}


header .highlight, header .current a{
	color: #34b5b5;
	font-weight: bold;
}

header a:hover{
	color: #ccc;
	font-weight: bold;
}

#main-banner {
	min-height: 400px;
	background: url('../img/main-banner.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	text-align: center;
	color: #fff;
}

#main-banner h1{
	font-size: 55px;
	margin-top: 120px;
}

#main-banner p{
	font-size: 20px;
}

#newsletter{
	padding: 15px;
	color: #fff;
	background: #35424a;
}

#newsletter h1{
	float: left;
}

#newsletter form{
	float: right;
	margin-top: 15px;
}

#newsletter form img {
	display: inline;
	max-height: 30px;
}

#newsletter input[type="email"]{
	padding: 4px;
	height: 25px;
	width: 250px;
}

#boxes{
	margin-top: 20px;
}

#boxes .box{
	text-align: center;
	float: left;
	width: 30%;
	padding: 10px;
}



#boxes .box img{
	width: 90px;
}

aside#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}

aside#sidebar .quote input, aside#sidebar .quote textarea{
	width: 90%;
	padding: 5px;
}


article#main-col{
	float: left;
	width: 65%;
}

ul#services li{
	list-style: none;
	padding:20px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	background-color: #e6e6e6e6;
}



footer{
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background-color: #34b5b5;
	text-align: center;
}

@media(max-width: 768px){
  header #company-line,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar{
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #main-banner h1{
  	font-size: 30px;
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }	
}